:host {
  display: block;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  position: relative;
}

.announcement-edit-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: var(--text-color);
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  background-color: var(--background-color);
  border-radius: 8px;
  position: relative;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.2);
  
  .header-bar {
    position: relative;
    padding: 1.25rem;
    text-align: center;

    h2 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 600;
    }

    .close-button {
      position: absolute;
      top: 20px;
      right: 20px;
      color: var(--text-color);
    }
  }

  .scrollable-content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }

  .action-buttons {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 20px;
  }
}

.form-content {
  display: block;
}

.form-section {
  margin-bottom: 12px

  h3 {
    font-size: 1.1rem;
    margin-bottom: 12px;
    color: var(--text-color);
  }
}

.date-time-section {
  display: flex;
  flex-direction: row;
  gap: 10px;

  mat-slide-toggle {
    margin-top: 8px;
  }
}

.full-line {
  width: 100%;
  border-radius: 4px;
}

