.access-denied-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  color: var(--warn-color);
}

button {
  background-color: var(--warn-color) !important;
}
