<div class="announcement-create-container">
  <div class="header-bar">
    <h2>Créer une nouvelle annonce</h2>
    <button class="btn btn-flat close-button" (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="scrollable-content">
    <form #newForm="ngForm" class="form-content">
      <div class="form-section">
        <h3>Français</h3>
        <mat-form-field appearance="outline" class="full-line">
          <mat-label>Titre (FR)</mat-label>
          <input
            matInput
            [(ngModel)]="annonce.FR_TITRE"
            name="frTitre"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-line">
          <mat-label>Sous-titre (FR)</mat-label>
          <textarea
            matInput
            [(ngModel)]="annonce.FR_SOUS_TITRE"
            name="frContenu"
            rows="2"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="form-section">
        <h3>English</h3>
        <mat-form-field appearance="outline" class="full-line">
          <mat-label>Titre (EN)</mat-label>
          <input
            matInput
            [(ngModel)]="annonce.EN_TITRE"
            name="enTitre"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-line">
          <mat-label>Sous-titre (EN)</mat-label>
          <textarea
            matInput
            [(ngModel)]="annonce.EN_SOUS_TITRE"
            name="enContenu"
            rows="2"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="form-section">
        <h3>Paramètres</h3>
        <div class="date-time-section">
          <mat-form-field appearance="outline" class="full-line">
            <mat-label>JOUR</mat-label>
            <input matInput type="number" [(ngModel)]="annonce.JOUR" name="jour" required matTooltip="Le nombre de jour après la date début qu'il faut envoyer l'annonce">
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-line">
            <mat-label>Heure de publication</mat-label>
            <input
              matInput
              type="time"
              [(ngModel)]="selectedTime"
              name="time"
              required
            />
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class="full-line" matTooltip="Paramètres à inclure dans la notification pour envoyer à l'app Ludo (sans le ?)">
          <mat-label>UTM</mat-label>
          <textarea
            matInput
            [(ngModel)]="annonce.UTM_TAG"
            name="utm"
            rows="1"
          ></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div class="action-buttons">
    <button class="btn btn-create" [disabled]="newForm.invalid" (click)="onCreate()">
      Créer
    </button>
  </div>
</div>
