html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}


.control-center {
  min-height: 85vh;
  padding: 16px;
  background-color: var(--app-background-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  top: 5;
  left: 5;
  width: 98%;
  height: 70%;
  
  .header-card {
    background-color: var(--background-color);
    margin-bottom: 16px;
    flex-shrink: 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      
      .info {
        display: flex;
        align-items: center;
        gap: 16px;
        
        .name {
          font-size: 1.5rem;
          color: var(--text-color, #ffffff);
          font-weight: bold;
        }
      }
      
      .buttons {
        display: flex;
      }
    }
  }
  
  .layout {
    display: flex;
    gap: 16px;
    flex: 1;
    min-height: 0;
    
    .component-card {
      flex: 1;
      background-color: var(--card-background);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      padding: 16px;
      scrollbar-width: thin;
      border-radius: 8px;
      transition: box-shadow 0.3s ease;
      width: 33%;
  
    }
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.copy-code-button {
  position: relative;
  transition: transform 0.2s ease, background-color 0.2s ease;
  color: var(--text-color);

  &:hover:not(:disabled) {
    transform: scale(1.1);
  }
}
